#root {
	font-family: "Libre Franklin", "sans-serif";

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a:visited {
	text-decoration: none;
}
/* Obtain Free SVG Graphics from undraw.co */

.unselectable {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}