@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

#root {
	font-family: 'Nanum Myeongjo', serif;
}

a:visited {
	text-decoration: none;
}

.unselectable {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}